/** Variables */
/* Colores principales */
$colorFont: #05202e;
$color1: #163172;
$color2: #1e56a0;
$color3: #d6e4f0;
$color4: #f6f6f6;
$color5: #f6f6f6;

// Fondo

$fondo1: #091635;
$fondo2: #0b284b;
$fondo3: #0c1f4b;
$fondo4: #091635;

$fondoHome: #091635;
$sombras: #9ad1ec27;

$header: #fab7bd;
$gradient: #f7d6d8;

/* Tipografía */
$tipo-principal: "IBM Plex Serif", serif;
$tipo-secundaria: "IBM Plex Mono", monospace;

// Tamaños tipografía
$fontSize: 1.5rem;
$textSize: 1rem;
$textSmall: 0.8rem;
$textP: 1rem;
$textResponsive: 1.2rem;
$sizeTitulo: 4rem;
$sizeTittleSecondary: 2rem;
$sizeNavbarResponsive: 2.5rem;
$sizeIcons: 3rem;
